<%- include("template/header")%>

<div class="container w-25">
    <h1 class="m-4 text-center">APOD DETAIL</h1>
    <a class="btn w-25 btn-danger" href="/"><</a>
    <% if (error) { %> <%= mensaje %> <% } %> <% if (!error) { %>
    <form id="editar" data-id="<%= apod._id %>">
        <input
            type="number"
            value="<%= apod.id %>"
            placeholder="Id"
            name="id"
        />
        <input
            type="text"
            value="<%= apod.nombre %>"
            placeholder="TITLE"
            name="title"
        />
        <input
            type="text"
            value="<%= apod.edad %>"
            placeholder="EXPLANATION"
            name="explanation"
        />
        <button id="edit" class="btn" type="submit">UPDATE</button>
    </form>
    <% } %>
</div>

<script>
    const formEditar = document.querySelector("#editar");
    formEditar.addEventListener("submit", async (e) => {
        e.preventDefault();
        const id = formEditar.elements["id"].value;
        const title = formEditar.elements["title"].value;
        const explanation = formEditar.elements["explanation"].value;
        const _id = formEditar.dataset.id;
        const newData = {
            id,
            title,
            explanation,
        };
        const response = await fetch(`/${_id}`, {
            method: "PUT",
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify(newData),
        });
        const data = await response.json();
        if (data.estado) location.href = "/";
    });
</script>
